@charset "utf-8";
@import url("sloping-elements.css");

body {
	background-color: #ECECEC;
}

h1{
	font-weight: 900;
	font-size: 8em;
	-webkit-text-shadow: 0 .3rem .9rem rgba(0,0,0,.4);
	text-shadow: 0 0.3rem 0.9rem rgba(0,0,0,.4);
	letter-spacing: -3px;
}

h1,
.intro p{
		color: #fff;
		font-family: 'Source Sans Pro', sans-serif;
}
.intro p{
		text-shadow: -1px 1px 8px rgba(0,0,0,.8);
}
		
#section1 h1{
	-webkit-text-shadow: none;
	text-shadow: none;
}

#slide1-1 h1{
	color: #444;
}
		
/*
Setting the backgrounds for each section / slide
*/
#section4 .fp-bg:before,
#section2 .fp-bg:before{
	content: '';
	position: absolute;
	display: block;
	background: rgba(173, 173, 173, 0.2);
	top:0;
	bottom:0;
	height: 100%;
	width: 100%;
}
.fp-bg{
	background-size: cover;
}

#slide1-1 .fp-bg{
	background-image: url('imgs/parallax/parallax-1-1.jpg');
	background-position: center 80%;
}

#slide1-2 .fp-bg{
	background-image: url('imgs/parallax/parallax-3-2.jpg');
}
		
#slide1-3 .fp-bg{
	background-image: url('imgs/parallax/parallax-3-3.jpg');
}

#section2 .fp-bg{
	background-image: url('imgs/parallax/parallax-2.jpg');
	background-position: center 60%;
}
		
#section2 h1{
	color: #fff;
}
		
#slide3-1 .fp-bg{
	background-image: url('imgs/parallax/parallax-3.jpg');
	background-position: 50% 65%;
}
		
#slide3-2 .fp-bg{
	background-image: url('imgs/parallax/parallax-3-2.jpg');
}
		
#slide3-3 .fp-bg{
	background-image: url('imgs/parallax/parallax-3-3.jpg');
}
		
#slide3-4 .fp-bg{
	background-image: url('imgs/parallax/parallax-3-4.jpg');
}
		
#section4 .fp-bg{
	background-image: url('imgs/parallax/parallax-4.jpg');
}


/*
* Configurations
*/
.actions{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99999;
	background: rgba(0,0,0,0.6);
	padding: 13px;
	color: white;
	font-size: 13px;
}
.actions-option{
	margin: 0 0 15px 0;
	position: relative;
}
.actions select{
	display: block;
	margin: 5px 0 0 0;
	padding: 3px;
}
.actions-option:last-child{
	margin:0;
}
.actions-title{
	display: block;
	font-size: 30px;
	padding: 10px 0;
}
.note{
	display: none;
	position: absolute;
	z-index: 99;
	color: #fff;
	font-size: 14px;
	left: 112%;
	bottom: -17px;
	width: 400px;
	background: rgba(0,0,0,0.3);
	padding: 20px;
}
.note-title{
	margin-bottom: 10px;
	display: block;
}
.note li{
	padding: 2px 0;
	list-style: disc;
	margin-left: 26px;
}
.actions-compatible{
	cursor: pointer;
}
.actions-compatible:hover .note{
	display: block;
}
#actions{
	top: 153px;
	left: 30px;
	z-index: 99999;
}
#actions li{
	background: rgba(255,255,255,0.6);
	padding: 7px 12px;
	margin: 2px;
	color: #000;
	display: inline-block;
	cursor: pointer;
}
#actions li:hover,
#actions .active{
	color: #fff;
	background: #81A140;
}

@media (min-width: 768px) {
	.portfolio-header {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.portfolio-header {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.portfolio-header {
		width: 1170px;
	}
}

.navbar-toggle {
	padding: 15px;
	border: none;
	transition: all 0.3s;
}

.navbar-toggle:focus {
	background-color: transparent !important;
}

div[aria-expanded="true"]{
  background-color: #AAAAAA;
}

.section {
	height: 70vh;
    min-height: 700px;
    max-height: 800px;
	overflow: hidden;
}

.title {
	display: inline-block;
	padding: 20vh 0px 0px 0px;
	color: #ffffff;
	font-weight: bold;
}

.name {
	color: #ffffff;
	width: 190px;
	position: relative;
	bottom: 18px;
	left: 10px;
}

.section-title {
	font-weight: bold;
	font-size: 3.5rem;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.media-body {
	padding: 10px 0px;
	text-align: justify;
}

.work-logo {
	height: 60px;
}

.sample {
	width: 100%;
}

.year {
	font-size: 2rem;
	font-weight: 700;
}

td {
	padding: 2px 15px;
	text-align: left;
}